:root {
    --gray: #DBDFE9;
    --blue: #009ef7;
    --green: #50cd89;
    --purple: #7239ea;
    --yellow: #ffc700;
    --red: #f1416c;
    --dark: #071437;
    --gray-active: #B5B5C3;
    --blue-active: #0095e8;
    --green-active: #47be7d;
    --purple-active: #5014d0;
    --yellow-active: #f1bc00;
    --red-active: #d9214e;
    --dark-active: #050f29;
    --gray-light:#f6f6f6;
    --blue-light: #f1faff;
    --green-light: #e8fff3;
    --purple-light: #f8f5ff;
    --yellow-light: #fff8dd;
    --red-light: #fff5f8;
    --dark-light: #F1F1F2;
    --text: #181c32;
    --text-light: #3f4254;
    --text-mute: #a1a5b7;
}

input,select,option {
    border: 1px solid gray;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
}
input:focus, select:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 4px var(--blue);
}