:root {
    --gray: #DBDFE9;
    --blue: #009ef7;
    --green: #50cd89;
    --purple: #7239ea;
    --yellow: #ffc700;
    --red: #f1416c;
    --dark: #071437;
    --blue-active: #0095e8;
    --gray-active: #B5B5C3;
    --green-active: #47be7d;
    --purple-active: #5014d0;
    --yellow-active: #f1bc00;
    --red-active: #d9214e;
    --dark-active: #050f29;
    --blue-light: #f1faff;
    --green-light: #e8fff3;
    --purple-light: #f8f5ff;
    --yellow-light: #fff8dd;
    --red-light: #fff5f8;
    --dark-light: #F1F1F2;
    --text: #181c32;
    --text-light: #3f4254;
    --text-mute: #a1a5b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--dark); */
    height: 100vh;
}

.accordian {
    max-width: 530px;
    background-color: white;
    border: 1px solid var(--gray-active);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px var(--gray);

}

.accordian .accordian-content {
    /* background-color: var(--blue-light); */
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 0px 10px;
    margin: 10px 0px;
    overflow: hidden;
}

.accordian-content:nth-child(1) {
    background-color: var(--blue-light);
}

.accordian-content:nth-child(2) {
    background-color: var(--red-light);
}

.accordian-content:nth-child(3) {
    background-color: var(--green-light);
}

.accordian-content:nth-child(4) {
    background-color: var(--yellow-light);
}
.accordian-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
    color: var(--text);
    cursor: pointer;
}

.accordian-content .description {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light);
    height: 0px;
    transition: all 0.2s linear;
}


